@import '~@/assets/styles/mixins'
@import '~@/assets/styles/variables'

@keyframes caret
  50%
    border-color: transparent


#notification
  position: fixed
  z-index: 5
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: center

  .notification-inner
    width: 100%
    background: $dark-blue
    padding: 5px

  code
    overflow: hidden
    white-space: nowrap
    padding: 5px 0;
    margin: 0;
    display: flex
    align-items: center
    line-height: 1.2em
    font-size: 1em
    color: #fce3a6

    .spacer
      opacity: 0
      width: 0
      overflow: 0

    .cursor
      margin: -0.1em 0 0 0.2em
      height: 1.2em
      display: inline-block
      border-right: .5em solid
      color: $salmon

      &.blink
        animation: caret .5s step-end infinite alternate

dump_media_cache()