@import '~@/assets/styles/mixins'
@import '~@/assets/styles/variables'

#notification
  position: fixed
  z-index: 5
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  border: 10px solid transparent

  .notification-inner
    background: $dark-blue
    color: $soft-yellow
    line-height: 1.5em
    text-align: left
    padding: 35px 25px
    transform: translateY(0)
    transition: transform 0.2s ease// , width 0.2s ease
    opacity: 1
    // transform: perspective(23rem)

    &.fade-enter-active, &.fade-leave-active
      transform: translateY(100%)
      opacity: 0

    &.fade-enter, &.fade-leave-to
      opacity: 1

    &.centered
      font-size: 1.5em
      text-align: center

    p
      margin: 0
      padding: 0

dump_media_cache()