@import '~@/assets/styles/mixins'
@import '~@/assets/styles/variables'

button
  color: darken($font-color, 10%)
  background: transparent
  display: inline
  border: 0
  outline: 0
  padding: 0
  margin: 0
  font-weight: 600
  cursor: sw-resize

dump_media_cache()