@import '~@/assets/styles/mixins'
@import '~@/assets/styles/variables'

section
  margin-bottom: 0
  padding-bottom: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-family: $title-font

  p
    margin: 0 0 5px

    &.copyright
      font-size: 0.9em

dump_media_cache()