@keyframes animateIn
  0%
    width: 0%
    clip-path: inset(0 0 0 0)

  50%
    width: 100%
    clip-path: inset(0 0 0 0)

  100%
    width: 100%
    clip-path: inset(0 0 0 100%)

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
