body
  color: $font-color
  font-family: $base-font
  background: $bg-color
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-weight: 400
  font-size: 18px

  *
    box-sizing: border-box

  noscript
    display: block
    width: 100%
    background: $alt-accent
    text-align: left
    padding: 10px 20px
    font-family: $title-font
    display: flex
    justify-content: flex-start
    align-items: center

    .noscript-msg
      max-width: $large-width

    h2, p, a
      color: $light

    p:last-of-type
      margin-bottom: 0

    a
      &:hover, &:active
        color: $light

  +media('md')
    font-size: 15px

  +media('xs')
    font-size: 13px

  strong
    color: darken($font-color, 10%)
    font-weight: 600

  .code
    font-family: $title-font
    color $font-color
    font-weight: 600

  h1, h2, h3, h4, h5, h6, .title
    font-family: $title-font
    color: $accent
    margin-top: 0

    &.standard-color
      color: $font-color

    &.h0
      font-size: 4.5em

      +media('md')
        font-size: 3.5em

      +media('xs')
        font-size: 3em

  .uppercase
    text-transform: uppercase



  h1, .h1
    font-size: 2.5em
    margin: 0 0 0.5em

  h2, .h2
    font-size: 2em
    margin: 0 0 0.2em

  h3, .h3
    font-size: 1.5em
    margin: 0 0 0.15em

  h4, .h4
    font-size: 1.3em
    margin: 0 0 0.1em

  h5, .h5
    font-size: 1.15em
    margin: 0 0 0.8em

  p
    font-size: 1em
    margin-bottom: 0.75em
    line-height: 1.3em

  p.sm
    font-size: 0.8em

    +media('md')
      font-size: 0.9em

    +media('xs')
      font-size: 1em

  ul, blockquote
    margin-bottom: 0.5em
    margin-top: 0.5em

  ul
    list-style: none
    padding: 0 0 0 14px
    margin: 5px 30px 0 0

    +media('xs')
      padding-left: 0

    li
      display: flex
      align-items: center
      margin-bottom: 5px
      margin-left: 15px
      font-family: $base-font
      font-size: 1.1em

      p
        margin: 0

  button:not(.unstyled), .btn:not(.unstyled)
    display: inline-block
    background: $bg-color
    border: 2px solid $accent
    cursor: pointer
    color: $accent
    padding: 3px 7px
    text-decoration: none

    &:not(:active)
      border-bottom-width: 4px
      border-right-width: 3px
      border-bottom-left-radius: 4px
      border-top-right-radius: 4px

    &:hover
      border-color: $alt-accent
      color: $alt-accent

      &:active
        outline: 0
        margin-bottom: 2px
        transform: translate(3px, 4px)

.xs
  +media('min-xs')
    display: none
#app
  position: relative
  width: 100vw
  overflow: scroll
  display: flex
  flex-direction: column
  align-items: center

  &.stuck
    position: static

  .app-inner
    width: 90%
    padding-top: 6vh;
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    min-height: min-content

a
  color: $accent

  &:hover
    color: $alt-accent

canvas
  position: fixed
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100%

section
  max-width: $mid-width
  width: 100%
  padding: 35px 0