body
  color $dark-blue
  font-family: $base-font
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-weight: 400
  font-size: 18px

  +media('md')
    font-size: 15px

  +media('xs')
    font-size: 13px

  strong
    color: darken($dark-blue, 10%)
    font-weight: 600

  .code
    font-family: $title-font
    color $dark-blue
    font-weight: 600

  h1, h2, h3, h4, h5, h6, .title
    font-family: $title-font
    color: $green-blue
    margin-top: 0

  .uppercase
    text-transform: uppercase

  .h0
    font-size: 3.2em

  h1, .h1
    font-size: 2em
    margin: 0 0 0.5em

  h2, .h2
    font-size: 1.4em
    margin: 0 0 0.2em

  h3, .h3
    font-size: 1.2em
    margin: 0 0 0.15em

  h4, .h4
    font-size: 1.1em
    margin: 0 0 0.1em

  h5, .h5
    font-size: 1em
    margin: 0 0 0.08em

  p
    font-size: 1em
    margin-bottom: 1.5em

  ul, blockquote
    margin-bottom: 0.5em
    margin-top: 0.5em

  ul
    list-style: none
    padding: 0 0 0 14px
    margin: 5px 30px 0 0

    li
      display: flex
      align-items: center
      margin-bottom: 5px
      margin-left: 15px
      font-family: $base-font
      font-size: 0.8em

      // &:before
      //   content: ""
      //   // content: "==="
      //   color: $orange-light
      //   font-weight: bold
      //   display: inline-block
      //   width: 2em
      //   font-size: 0.5em
      //   margin-left: -0.8em

#app
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow: scroll
  display: flex
  flex-direction: column
  align-items: center

  .app-inner
    height: 99vh
    width: 90%
    padding-top: 6vh;
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    min-height: min-content

a
  // font-family: $title-font
  // text-transform: uppercase
  color: $green-blue // green-blue

  &:hover
    color: darken($green-blue, 30%)

canvas
  position: absolute
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100%
  opacity: 0.5

section
  max-width: $mid-width
  width: 100%
  padding: 35px 0