 @import 'mixins'

.home
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  .hero
    padding: 20px;

  h1
    margin-top: 0

  p
    margin-bottom: 0

dump_media_cache()