 @import 'mixins'

.home
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  .hero
    padding: 20px

  h1
    margin-top: 0
    font-size:22px

    +media('xs')
      font-size:16px

  p
    margin-bottom: 0
    font-size:14px

    +media('xs')
      font-size: 14px

dump_media_cache()