 @import 'mixins'

@keyframes caret
  50%
    border-color: transparent

.home
  height: 100vh
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  .hero
    padding: 75px 20px 50px
  h1
    overflow: hidden
    white-space: nowrap
    padding: 5px 0;
    margin: 0 0 5px;
    display: flex
    align-items: center
    line-height: 1.2em

    .cursor
      margin: -0.1em 0 0 0.2em
      height: 1.2em
      display: inline-block
      border-right: .5em solid

      &.blink
        animation: caret .8s step-end infinite alternate

  .subtitle
    margin: 0

  svg
    width:100%;

dump_media_cache()