$base-font = 'Roboto Slab', serif, "Courier New", Courier, monospace
$title-font = 'Share Tech Mono', monospace, "Courier New", Courier, monospace

$mid-width = 650px
$small-width = 450px


// ["#f4f1de","#e07a5f","#3d405b","#81b29a","#f2cc8f"]



// $red            = #f94144
// $orange-dark    = #f3722c
// $orange         = #f8961e
// $green          = #90be6d
// $mid-blue-green = #4d908e
// $blue           = #277da1;


// $orange-light   = #f9844a
// $green-blue     = #43aa8b
// $dark-blue      = #577590
// $x-dark-blue    = #435a6f
// $salmon         = #fcc1a4;
// $soft-yellow    = #fce3a6


$orange-light   = #e07a5f
$green-blue     = #4d7963 // #529d78 // #81b29a
$dark-blue      = #3d405b

// $x-dark-blue    = #3d405b
$salmon         = #f7f6f1 // #f4f1de
$soft-yellow    = #f2cc8f

// #f4f1de
// #e07a5f
// #3d405b
// #81b29a
// #f2cc8f





$bg-color       = $salmon
$bg-dark        = $dark-blue// $x-dark-blue
$font-color     = $dark-blue
$accent         = $green-blue
$light-accent   = $soft-yellow
$alt-accent     = $orange-light
$light-text     = $salmon