$base-font = 'Roboto Slab', serif, "Courier New", Courier, monospace
$title-font = 'Share Tech Mono', monospace, "Courier New", Courier, monospace

$mid-width = 650px
$small-width = 450px

$red            = #f94144
$orange-dark    = #f3722c
$orange         = #f8961e
$orange-light   = #f9844a
$green          = #90be6d
$green-blue     = #43aa8b
$mid-blue-green = #4d908e
$dark-blue      = #577590
$x-dark-blue    = #435a6f

$blue           = #277da1;
$salmon         = #fcc1a4;
$soft-yellow    = #fce3a6

$bg-color       = $soft-yellow
$bg-dark        = $x-dark-blue
$font-color     = $dark-blue
$accent         = $green-blue
$alt-accent     = $orange-light