$base-font = 'Roboto Slab', serif, "Courier New", Courier, monospace
$title-font = 'Share Tech Mono', monospace, "Courier New", Courier, monospace

$mid-width = 650px
$small-width = 450px

$orange         = #e07a5f
$green          = #4d7963
$blue           = #3d405b
$light          = #f7f6f1
$yellow         = #f2cc8f

$bg-color       = $light
$bg-dark        = $blue
$font-color     = $blue
$accent         = $green
$light-accent   = $yellow
$alt-accent     = $orange
$light-text     = $light