@import '~@/assets/styles/mixins'
@import '~@/assets/styles/variables'

#work
  position: absolute
  left: 0
  top: 0
  z-index: 10

  .home-button
    position: fixed
    z-index:5
    display: block
    top: 0
    right: 0
    padding-left: 10px
    color: $bg-dark
    text-decoration: none
    font-size: 3em
    height: 100vh;
    width: 25vw;

    +media('md')
      width: 20vw

    +media('xs')
      width: 15vw

    &:hover
      color: $alt-accent

  .work-content
    z-index: 2

    .slide
      opacity: 0
      background: $bg-dark
      width: 75vw
      animation: fadein 0s 0.4s ease forwards
      display: flex
      justify-content: center
      overflow: scroll
      padding: 40px 30px 40px

      &::-webkit-scrollbar
        display: none

      +media('md')
        width: 80vw

      +media('xs')
        width: 85vw

      .copy
        max-width: $mid-width
        padding: 40px 30px

        +media('xs')
          padding: 40px 15px 60px

        h3
          margin-top: 20px

        h1, h2, h3, h4, h5, h6, p, ul, li, strong
          color: lighten($bg-color, 25%)

        ul
          margin-right: 0

          li
            display: flex
            align-items: flex-start
            margin-bottom: 10px

            &:before
              content: "==="
              margin-top: 0.1em
              color: $alt-accent
              font-weight: bold
              display: inline-block
              font-size: 0.9em
              margin-left: -0.8em
              transform: translateX(-5px)

    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      z-index: 1
      height: 100%
      width: 80vw
      background-color: $accent
      animation: animateIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards

  &.fade-leave-active
    transition: transform 0.5s ease
    transform: translateX(-100%)

  &.fade-leave-to
    transform: translateX(-100%)



dump_media_cache()